.modal
{
	width: 50% !important
}  /* increase the width as per you desire */

.odd:hover,
.odd:focus,
.odd:active,
.even:focus,
.even:active,
.even:hover
{
    cursor: pointer;
    cursor: hand;
}
html
{
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: #636b6f;
}
.signin-page {
	background-image: url('../images/profile_bg.png');
}